@use "../presets" as *;
@use "../mixins" as *;

.contact {
  margin-top: 80px;

  @include lg-min {
  }
  @include lg {
    margin-top: 20px;
  }
  &__contanier {
    @extend %container;
    @include lg-min {
      margin-bottom: 80px;
    }
    @include lg {
      margin-bottom: 40px;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 527px;
    height: 576px;

    @include lg-min {
    }
    @include lg {
      width: auto;
      height: auto;
      margin-right: 10px;
    }
  }
  &__adress {
    margin-bottom: 20px;

    color: #323264;

    font-size: 21px;
    line-height: 30px;
  }
  &__border {
    display: block;

    text-align: center;
    text-decoration: none;

    color: #333333;
    &:after {
      display: block;

      height: 4px;

      content: "";

      background: #e6e6f0;
    }
  }
  &__number {
    margin-top: 40px;
    margin-bottom: 20px;

    color: #46466e;

    font-size: 21px;
    line-height: 30px;
  }
  &__email {
    margin-bottom: 40px;

    color: #24a3ff;

    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
  }
  &__box {
    display: flex;
    align-items: center;

    margin-top: 20px;
  }
  &__small {
    padding: 0 20px 0 20px;
  }
  &__title {
    padding: 20px 20px 0 20px;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-family: "TT Norms";
    font-size: 32px;
    line-height: 38px;

    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
  &__all {
    display: flex;

    margin: 0 110px 0 110px;

    gap: 150px;
    @include lg-min {
    }
    @include lg {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      margin: 0;

      gap: 40px;
    }
  }
  &__form {
    display: flex;

    margin: 20px;
    padding: 10px;

    border: 0;
    border-radius: 10px;
  }
  &__mak {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #f5f5fa;
  }
  .text {
    height: 180px;
  }
  .button {
    display: flex;
    justify-content: center;

    width: 250px;
    height: 50px;
    margin-left: 112.5px;

    color: white;
    border-radius: 12px;
    background: #24a3ff;
    box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

    @include lg-min {
    }
    @include lg {
      margin-left: 20px;
    }
  }
}
