@use "../presets" as *;
@use "../mixins" as *;

.review {
  margin-top: 60px;

  &__title {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
  }

  &__container {
    @extend %container;
  }

  &__content {
    display: grid;

    border-radius: 12px;
    background: $color-gray-bg;

    grid-template-areas: "img  lnk" "img dsc" "img nm" "img .";
    @include lg-min {
      grid-template-areas: "img  lnk" "img dsc" "img nm" "img .";
      grid-template-rows: auto auto 1fr;
    }
    @include lg {
      align-items: center;

      padding: 20px;

      grid-template-areas: "lnk lnk" "dsc dsc" "lm nm";
      grid-template-columns: auto 1fr;
    }
  }

  &__link {
    padding-top: 41px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active;

    font-size: 14px;
    font-weight: 700;
    line-height: 17px;

    grid-area: lnk;
    @include lg-min {
    }
    @include lg {
      margin-left: 10px;
      padding-top: 20px;

      grid-area: lnk;
    }
  }

  &__image {
    display: block;

    margin-right: 40px;
    margin-bottom: -3px;

    grid-area: img;
    @include lg-min {
    }
    @include lg {
      display: none;
    }
  }

  &__icon {
    display: none;

    grid-area: lm;
    @include lg-min {
      display: none;
    }
    @include lg {
      display: inline;

      margin-top: 13px;
      margin-left: 5px;
      padding-bottom: 20px;

      border-radius: 120px;

      grid-area: lm;
    }
  }

  &__description {
    margin-top: 3px;
    margin-right: 5px;

    font-size: 42px;
    font-weight: 700;
    line-height: 50px;

    @extend %text-liner-gradient-invert ;
    grid-area: dsc;
    @include lg-min {
      font-size: 42px;
      line-height: 50px;
    }
    @include lg {
      margin-left: 5px;

      font-size: 32px;
      line-height: 38px;

      grid-area: dsc;
    }
  }

  &__name {
    margin-top: 20px;

    color: $color-gray-text;

    font-size: 18px;
    line-height: 21px;

    grid-area: nm;
    @include lg-min {
    }
    @include lg {
      margin-top: 13px;
      margin-left: 10px;
    }
  }

  &__partner {
    margin-top: 5px;

    color: $color-gray-text;

    line-height: 22px;

    @include lg-min {
    }
    @include lg {
      margin-left: 10px;
      padding-bottom: 40px;
    }
  }
}
