@use "../presets" as *;
@use "../mixins" as *;

.expirience {
  margin-left: 180px;

  @include lg-min {
  }
  @include lg {
    margin-top: -15px;
    margin-left: 0;
  }
  &__contanier {
    @extend %container;
    @include lg-min {
      margin-bottom: 80px;
    }
    @include lg {
      margin-bottom: 40px;
    }
  }

  &__block {
    display: flex;
    align-items: center;

    @include lg-min {
    }
    @include lg {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;

    width: 600px;

    @include lg-min {
    }
    @include lg {
      width: auto;
      margin-top: 35px;
    }
  }


  &__title {
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 42px;
    line-height: 50px;

    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
  &__description {
    color: #000000;

    font-size: 21px;
    line-height: 30px;
  }
  &__border {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-left: 4px solid #e6e6f0;

    @include lg-min {
    }
    @include lg {
      display: none;
    }
  }
  &__nummer {
    display: flex;

    margin-left: 10px;

    @include lg-min {
    }
    @include lg {
      margin-left: 0;
    }
  }
  &__number {
    text-align: center;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 36px;
    font-weight: 800;
    line-height: 42px;

    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
  &__about {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;

    color: #323264;

    font-size: 18px;
    line-height: 21px;
  }
  &__paragraph {
    margin-top: 20px;
  }
  &__img {
    display: block;

    width: 100%;
    margin-top: 130px;

    @include lg-min {
    }
    @include lg {
      display: none;
    }
  }
  &__small {
    display: none;

    width: 100%;

    @include lg-min {
    }
    @include lg {
      display: block;

      margin-top: -45px;
    }
  }
}
