@use "../presets" as *;
@use "../mixins" as *;


.quality {
  margin-top: 80px;

  @include lg-min {
  }
  @include lg {
  }
  &__container {
    @extend %container;
    @include lg-min {
    }
    @include lg {
    }
  }
  &__box {
    display: flex;
    justify-content: center;

    margin-bottom: 100px;

    gap: 40px;
    @include lg-min {
    }
    @include lg {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      margin-bottom: 40px;

      gap: 20px;
    }
  }
  &__description {
    width: 640px;

    color: #000000;

    font-size: 21px;
    line-height: 30px;

    @include lg-min {
    }
    @include lg {
      width: auto;
    }
  }
  &__paragraph {
    margin-top: 10px;
  }
  &__title {
    width: 414px;

    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-family: "TT Norms";
    font-size: 42px;
    line-height: 50px;

    @include lg-min {
    }
    @include lg {
      width: auto;
    }
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
}
