@use "../presets" as *;
@use "../mixins" as *;

.team {
  margin-bottom: 80px;
  &__contanier {
    width: min(100% - $gap-xl, 1100px);

    @include lg-min {
      margin-bottom: 80px;
    }
    @include lg {
      margin-bottom: 40px;
    }
    margin-inline: auto;
  }

  &__flex {
    display: flex;

    padding-top: 80px;

    gap: 40px;
    @include lg-min {
    }
    @include lg {
      flex-wrap: wrap;

      padding-top: 20px;
    }
  }

  &__images {
    @include lg-min {
    }
    @include lg {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__image {
    display: block;

    border-radius: 12px;

    @include lg-min {
    }
    @include lg {
      width: 100%;
      height: 100%;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include lg-min {
    }
    @include lg {
      flex-wrap: wrap;
    }
  }

  &__title-main {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;

    @extend %text-liner-gradient-primary;
  }

  &__info {
    display: flex;

    margin-top: 10px;
    margin-bottom: 20px;

    @include lg-min {
    }
    @include lg {
      flex-direction: column;
    }
  }


  &__work {
    color: #b3b3ba;

    line-height: 22px;
  }

  &__dot {
    margin-right: 10px;
    margin-left: 10px;

    @include lg-min {
    }
    @include lg {
      display: none;
    }
  }

  &__link {
    color: #24a3ff;

    line-height: 19px;

    @include lg-min {
    }
    @include lg {
      margin-top: 10px;
    }
  }

  &__border {
    display: block;

    padding-bottom: 30px;

    text-align: center;
    text-decoration: none;

    color: #333333;

    @include ul-min {
    }
    @include ul {
    }
    &:after {
      display: block;

      height: 4px;

      content: "";

      background: #e6e6f0;
    }
  }

  &__description {
    margin-top: 10px;

    font-size: 18px;
    line-height: 26px;

    @include ul-min {
    }
    @include ul {
      padding-right: 120px;
    }
    @include lg-min {
      padding-right: 120px;
    }
    @include lg {
      padding-right: 0;
    }
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 10px;

    text-transform: uppercase;

    color: #323264;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  .indent {
    padding-top: 30px;
  }
}
