@use "../presets" as *;
@use "../mixins" as *;

.successful {
  margin-top: 34px;

  &__first {
    display: flex;
    flex-wrap: nowrap;

    @include lg-min {
      flex-wrap: nowrap;
    }
    @include lg {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__container {
    border-radius: 12px;
    background-color: $color-gray-bg;

    @extend %container;
  }

  &__hillel {
    display: flex;

    border: 1.5px solid $color-white;

    @include lg-min {
      flex-wrap: nowrap;
    }
    @include lg {
      flex-wrap: wrap;
    }
  }

  &__title {
    padding: 20px 0 20px 20px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-accent;
    border: 1.5px solid $color-white;

    font-size: 14px;
    line-height: 17px;

    @include lg-min {
    }
    @include lg {
      padding: 20px 20px 20px 20px;
    }
  }

  &__school {
    padding: 48px 20px 0 20px;

    color: $color-primary-soft;
    border: 1.5px solid $color-white;

    font-size: 24px;
    line-height: 28px;

    @include lg-min {
    }
    @include lg {
      padding: 20px 20px 0 20px;
    }
  }

  &__wanna {
    padding: 105px 20px 0 20px;

    color: $color-primary-soft;
    border: 1.5px solid $color-white;

    font-size: 24px;
    line-height: 28px;

    @include lg-min {
    }
    @include lg {
      padding: 20px 20px 0 20px;
    }
  }

  &__tap {
    padding: 105px 20px 0 20px;

    color: $color-primary-soft;
    border: 1.5px solid $color-white;

    font-size: 24px;
    line-height: 28px;

    @include lg-min {
    }
    @include lg {
      padding: 20px 20px 0 20px;
    }
  }

  &__company {
    padding-top: 20px;
    padding-bottom: 20px;

    color: $color-gray-text;

    font-size: 18px;
    line-height: 26px;

    @include lg-min {
    }
    @include lg {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
