@use "../presets" as *;
@use "../mixins" as *;

.team {
  margin-bottom: -10px;
  &__contanier {
    @extend %container;
    @include lg-min {
      margin-bottom: 80px;
    }
    @include lg {
      margin-bottom: 40px;
    }
  }


  &__title {
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
            background-clip: text;

    font-size: 42px;
    line-height: 50px;

    @include lg {
      font-size: 32px;
      line-height: 38px;
    }
    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }
  &__box {
    display: flex;
    flex-direction: column;

    @include lg-min {
    }
    @include lg {
      align-content: center;
      align-items: center;
      flex-direction: row;

      gap: 20px;
    }
  }
  &__punkto {
    @include lg {
      margin-top: 10px;
    }
  }
  &__images {
    width: 100%;

    border-radius: 12px;
  }

  &__name {
    margin-top: 15px;
    margin-bottom: 5px;

    color: #323264;

    font-size: 18px;
    line-height: 21px;
  }
  &__job {
    color: #b3b3ba;

    font-size: 16px;
    line-height: 22px;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;

    margin-top: 70px;

    gap: 40px;
    @include lg {
      margin-top: -5px;
      margin-bottom: 60px;
    }
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg-min {
    }
    @include lg {
      flex-wrap: wrap;
    }
  }
}
