@use "../presets" as *;
@use "../mixins" as *;

.page-header {
  position: relative;

  overflow: hidden;

  padding-top: 50px;

  background: $color-white;

  &__grid {
    display: grid;
    align-items: center;

    @extend %container;
    @include sm-min {
      top: 50px;

      gap: $gap-sm $gap;
      grid-template-areas: "logo actions" "logo menu";
    }
    @include sm {
      top: $gap;

      gap: $gap;
      grid-template-areas: "actions actions" "logo menu";
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__menu {
    grid-area: menu;
  }

  &__actions {
    grid-area: actions;
  }

  &__content {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: auto;

    background-color: #ffffff;
  }


  &__button {
    position: absolute;
    z-index: 2;
    bottom: $gap;
    left: 50%;

    cursor: pointer;
    transform: translateX(-50%);
  }
}
