@use "../presets" as *;
@use "../mixins" as *;

.menu {
  &__btn {
    position: relative;

    width: 30px;
    height: 22.5px;
    margin-left: auto;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    @include md-min {
      display: none;
    }

    &-row {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      border-radius: 3px;
      background: #323264;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }

    &.-active span {
      &:nth-child(1) {
        top: 9px;
        left: 50%;

        width: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 9px;
        left: 50%;

        width: 0;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;

    gap: $gap-md;
    @include unlist;
    @include md {
      display: none;

      padding: $gap;

      text-align: center;

      background-color: rgba($color-primary, 0.9);
      box-shadow: -1px 5px 10px rgba($color-black, 0.25);
    }
  }

  &__item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__link {
    display: block;

    padding: 0.25em 0;

    color: #24a3ff;

    @include md-min {
      color: #24a3ff;
    }
    @include md {
      color: white;
    }
    &-active {
      text-decoration: underline;

      color: #f0145a;

      @include md-min {
        text-decoration: underline;

        color: #f0145a;
      }
      @include md {
        text-decoration: none;

        color: white;
      }
    }
  }
}
